.file-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #FFFFFF;
}

.working-directory {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #2F3645;
  border-radius: 10px;
  flex-shrink: 0;
} 