.browserPage {
  display: flex;
  overflow-y: auto;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

.browserHeader {
  color: var(--color-text);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--spacing-xl);
} 